click==7.1.2
dnspython==1.16.0
dominate==2.5.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonify==0.5
MarkupSafe==1.1.1
pymongo==3.10.1
visitor==0.1.3
Werkzeug==1.0.1
alabaster==0.7.12
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
Authlib==0.14.1
Babel==2.8.0
beautifulsoup4==4.9.1
bleach==3.1.5
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
clarifai==2.6.2
colorama==0.4.3
configparser==3.8.1
cryptography==3.1
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
Django==3.0.10
django-appconf==1.0.4
django-bootstrap-breadcrumbs==0.9.1
django-bower==5.2.0
django-compressor==2.4
django-cors-headers==3.5.0
django-extensions==3.0.8
django-filter==2.1.0
django-formtools==2.2
django-recaptcha==2.0.6
django-sortedm2m==3.0.2
django-storages==1.10
django-tastypie==0.14.3
django-user-agents==0.4.0
djangorestframework==3.11.1
docutils==0.16
easy-thumbnails==2.7
EasyProcess==0.3
emoji==0.6.0
filelock==3.0.12
future==0.18.2
google-api-core==1.23.0
google-api-python-client==1.8.0
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
grpcio==1.31.0
gunicorn==20.0.4
httplib2==0.18.1
icalendar==4.0.3
idna==2.10
imagesize==1.2.0
instapy==0.6.10
invoke==0.17.0
isort==5.4.2
Jinja2==2.11.2
jsonschema==2.6.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
MeaningCloud-python==1.2.3
numpy==1.19.1
packaging==20.4
pandas==1.0.3
Pillow==6.2.2
plyer==1.4.3
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-mimeparse==1.6.0
python-telegram-bot==12.8
pytz==2020.1
PyYAML==5.3.1
rcssmin==1.0.6
regex==2020.7.14
reportlab==3.5.21
requests==2.23.0
rjsmin==1.1.0
rsa==4.6
scipy==1.5.4
selenium==3.141.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
termcolor==1.1.0
toml==0.10.1
tornado==6.0.4
tqdm==4.48.2
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.25.10
user-agents==2.2.0
virtualenv==20.2.2
webdriverdownloader==1.1.0.3
webencodings==0.5.1
wger==1.9
wrapt==1.12.1